.sidenav {
  width: 150px;
  left: 0;
  overflow-x: hidden;
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #300d4f;
  color: #fff;
    span {
      padding: 6px  8px  6px  16px;
      text-decoration: none;
      font-size: 25px;
      font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
      color: #818181;
      display: block;
    }.selected {
      color: #e1e1e1;
    }:hover {
      color: #f1f1f1;
      cursor: pointer;
    }
  }

.thisistheone {
  width: 100%;
  position: relative;
  left: 150px;
  height: calc(100vh - 50px);
}

.bootstrap-row-override {
  margin-right: -30px;
}

.bootstrap-col-override{
  padding-left: 0;
  padding-right: 0;
}